<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChannelDAO">




    
    <insert id="regist" parameterType="ChannelVO" useGeneratedKeys="true" keyProperty="id">
    
    	INSERT INTO channel (
		    owner_id, 
		    channel_title, 
		    channel_message
		) VALUES (
			#{ownerId}::uuid, 
			#{title}, 
			#{message}
		);
		
    </insert>
    
    
    
    
    
    <insert id="setDefaultRole" parameterType="String">
    
    	INSERT INTO channel_role (
		    channel_id, 
		    authority,
		    role_flag
		) VALUES 
		<if test='value != null and value != ""'>
			( #{value}::UUID,     'ADMIN',     B'1111111111111111' ), 
		    ( #{value}::UUID,     'USER',      B'0000000000111111' ), 
		    ( #{value}::UUID,     'GUEST',     B'0000000000000001' );
        </if>
        
        <selectKey keyProperty="value" resultType="String" order="AFTER">
            SELECT 
            	role_id 
            FROM 
            	channel_role 
            WHERE 
            	channel_id = #{value}::UUID
            	AND authority = 'ADMIN'  
        </selectKey>
        
    </insert>
    
    
    
    
    
    <insert id="giveRole" parameterType="ChannelRoleVO">
    
    	INSERT INTO member_channel_role 
    		( member_id, channel_id, role_id ) 
    	VALUES 
    		( #{memberId}::UUID, #{channelId}::UUID, #{roleId}::UUID )
    		
    </insert>
    
    
    
    
    
    <select id="getRole" parameterType="ChannelRoleVO" resultType="ChannelRoleVO" >
    
    	SELECT 
    		cr.authority 					AS authority,
    		cr.role_flag::bit(16)::integer 	AS roleFlag
    		
    	FROM
    		member_channel_role AS mcr
    	
    	LEFT JOIN channel_role AS cr ON mcr.role_id 	= cr.role_id
    	
    	WHERE
    		
   		<if test='memberId != null
					and memberId != ""
					and channelId != null
					and channelId != "" '>
					
			mcr.member_id 	= #{memberId}::UUID
			AND mcr.channel_id 	= #{channelId}::UUID
		</if>
    	
    </select>
    
    
    
    
    
    <select id="getChannelIdByCommunityId" parameterType="String" resultType="String" >
    	
    	SELECT 	channel_id 
    	FROM 	community 
    	WHERE 	
    	<if test='value != null and value != ""'>
    		community_id = #{value}::UUID
    	</if> 
    
    </select>
    
    <select id="getChannelIdByMenuId" parameterType="String" resultType="String" >
    	
    	SELECT 	c.channel_id 
    	FROM 	community_menu AS cm
    	LEFT JOIN community AS c ON cm.community_id = c.community_id
    	WHERE 	
    	<if test='value != null and value != ""'>
    		cm.menu_id = #{value}::UUID
    	</if> 
    
    </select>
    
    <select id="getChannelIdByPostId" parameterType="String" resultType="String" >
    	
    	SELECT 	channel_id 
    	FROM 	community_post AS cp
    	LEFT JOIN community AS c ON cp.community_id = c.community_id
    	WHERE 	
    	<if test='value != null and value != ""'>
    		cp.post_id = #{value}::UUID
    	</if> 
    
    </select>
    
    
    
    

</mapper>
