<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VideoDAO">
    
    <insert id="upload" parameterType="VideoVO" useGeneratedKeys="true" keyProperty="id">
    
    	INSERT INTO video (
    		video_title,
    		video_text,
    		uploader_id,
    		video_name,
    		video_md5,
    		video_path,
    		video_type,
    		video_size
    	) VALUES (
    		#{title},
    		#{text},
    		#{uploaderId}::UUID,
    		#{name},
    		#{md5},
    		#{path},
    		#{type},
    		#{size}
    	)

    </insert>
    
    <select id="getOwnVideoList" parameterType="String" resultType="VideoVO">
		SELECT
		    video_id		AS id,
			video_title 	AS title,
		    video_path 		AS path
		FROM
		     video
		WHERE
		      uploader_id = #{value}::UUID;
	</select>
    
    <select id="getNewVideo">
    	
    	SELECT 
    		video_id	AS id
    		video_path	AS path;
    	FROM 
    	
    </select>
    
    <delete id="deleteVideo" parameterType="String">
    
    	DELETE FROM video WHERE video_id = #{value}
    
    </delete>
    
</mapper>