:root {
    --channel-header-max: 850px;
    --channel-header-min: 500px;
    
    --channel-header-profile-img-size: 120px;
}

#channel {
	margin-top: 10em;
}

.channel_header {
	min-width : var(--channel-header-min);
	max-width : var(--channel-header-max);
}

.user_profile_img_wapper__channel {
	position: relative;
	border-radius: calc(var(--channel-header-profile-img-size)/2);
	background-color:white;
	margin-left: 1em;
	margin-right: 1em;
	overflow: hidden;
	height: var(--channel-header-profile-img-size);
	width: var(--channel-header-profile-img-size);
	border-radius: 60px;
}

.user_profile_img__channel {
	position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	
	height:100%;
	filter: invert(100%);
	box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
}

.user_profile_img_wapper__channel {
	position: relative;
	border-radius: calc(var(--channel-header-profile-img-size)/2);
	background-color:#4fc08d;
	margin-left: 1em;
	margin-right: 1em;
	overflow: hidden;
	height: var(--channel-header-profile-img-size);
	width: var(--channel-header-profile-img-size);
	border-radius: 60px;
}
.user_profile_img_wapper__channel__custom {
	background-color:white;
}

.user_profile_img__channel {
	position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	
	height:100%;
	filter: invert(100%);
	box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
}

.channel_header__letter {
	min-width : calc(var(--channel-header-min) - var(--channel-header-profile-img-size));
	max-width : calc(var(--channel-header-max) - var(--channel-header-profile-img-size));
	float: left;
}
.channel_header__profile_image {
	position: relative;
}
.channel_header__modify {
	position: absolute;
	height: 26px; width: 26px;
	border-radius: 13px;
	right: 15px; bottom: 15px;
	background: #04a55c;
}

.channel_header_setting_img {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	height:50%;
}
.channel_header .btn:hover, .channel_header .btn:focus {
	color: #4fc08d;
    background: #fff;
}
.channel_header .btn {
	font-size: 14px;
    margin: 0 0.5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    border: #fff 1px solid;
    transition: 250ms ease-out;
}


.channel_info_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0 0 1em 1em;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
	padding: 2em
}
.channel_info_content > * {
	position: relative;
	display: none;
	flex-direction: column;
}
.channel_about_setting_img {
	position: absolute;
	height: 20px;
	right: 0; top: 0;
}

.channel_contact__right {
	border-left: 2px solid #373737;
}
.channel_contact table {
	border : 0;
	border-spacing: 0px;
}
.channel_contact td {
	padding-left: 1em;
	padding-right: 1em;
}

.set_profile_image {
	position: absolute;
	diaplay:float;
	background: #fff;
	left: 90%; top: 90%;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
	
	z-index: 99999999999;
}

#set_profile_image__thumb {
	position: relative;
	height: 50px;
	width: 50px;
	background: #4fc08d;
	border-radius:50%;
	
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
}
#set_profile_image__thumb img {
	position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height:100%;
}

.set_profile_image__uploader {
	diaplay:flex;
	flex-direction: column;
}

.channel_community_iframe {
	width: 100%;
	height: 100%;
}

.community_post_content {
	width: 100%;
	word-break:break-all;
}

#channelSimpleList {
	margin: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#channelSimpleList > .user_profile_img_wapper {
	width: 100px;
	height: 100px;
}