*, *:before, *:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga", "kern";
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(210deg, #9adbbe, #4fc08d);
}

body, #home, #home_content {
    position: relative; margin : 0;
    overflow-x : hidden; overflow-y : hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
}
#home_content {
    overflow-y: auto;
}

li {
	list-style:none;
}
.bg_black {
	background: #373737;
	color: #fff
}

#home_content {
    margin-top: 65px;
    height: calc(100vh - 65px);
}

.hidden {
	display: none;
}

#header {
	height: 65px;
	box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
}
#content {
	margin-top: 65px;
	padding: 50px;
}

button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}
button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
}

.btn {
    font-size: 14px;
    margin: 0 0.5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: #2d7c58;
    border: 1px solid;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", sans-serif;
    color: #4fc08d;
    border: #4fc08d 1px solid;
    transition: 250ms ease-out;
}

.btn:hover, .btn:focus {
    color: #fff;
    background: #4fc08d;
}

.form {
    width: 100%;
    padding: 2.5rem 2rem 2.5rem 2rem;
    display: flex;
}
.form__input {
    width: 100%;
    font-size: 14px;
    margin: 0 0.5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    background: none;
    font-family: "Source Sans Pro", sans-serif;
    border: #e3e3e3 1px solid;
    transition: border 250ms ease-out;
}
.form__input:focus {
    border: #4fc08d 1px solid;
    outline: none;
}

.horizontal_rule {
	width: 100%;
	height: 2px;
	padding-left: 1em;
	padding-right: 1em;
	background: #4fc08d;
}
.sub_horizontal_rule {
    width: 100%;
    height: 1px;
    padding-left: 1em;
    padding-right: 1em;
    background: #373737;
}

.w_center {
    text-align: center;
}

.h_center_wrapper {
    display: table;
}

.h_center_content {
    display: table-cell;
    vertical-align: middle;
}

.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}
.modal.open {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
	z-index: 999999999;
}

.modal-bg {
	 position: fixed;
	 background: black;
	 opacity: 0.2;
	 width: 100vw;
	height: 100vh;
}
 .modal-container {
	 position: relative;
}

[v-clock] {
    visibility: hidden
}

.warning {
    color: red;
}

.captcha_stage {
	display:none;
}



.sharp_icon {
    background: center / contain no-repeat url("/resources/image/sharp_icon.png");
}

.clock_icon {
    background: center / contain no-repeat url("/resources/image/clock_icon.png");
}

.view_icon {
    background: center / contain no-repeat url("/resources/image/view_icon.png");
}

.video_upload_icon {
	background: center / contain no-repeat url("/resources/image/video_upload_icon.png");
}

.page_move_icon {
	background: center / contain no-repeat url("/resources/image/page_move_icon.png");
}

.cloud_upload_icon {
    background: center / contain no-repeat url("/resources/image/cloud_upload_icon.png");
}

.notification_icon {
    background: center / contain no-repeat url("/resources/image/notification_icon.png");
}

.grid {
	display: grid;
	width: 100%;
	margin: auto 0;
	grid-template-columns: repeat(auto-fit, 160px);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 8px;
    justify-content: center;
}


.drag-area, .drag-area-text{
    border: 2px dashed #fff;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drag-area.active{
    border: 2px solid #fff;
}
.drag-area .icon{
    font-size: 100px;
    color: #fff;
}
.drag-area header{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}
.drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}
.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.x_button {
	position: absolute;
	right: 1em; top: 1em;
	
	color: #eee;
	background: #373737;
	
	display:flex;
	align-items: center;
    justify-content: center;
	
	width: 50px;
	height: 50px;
	border-radius: 50px;
	font-size: 20px;
}

#login, #channelVideoUpload {
	display: flex;
	max-height: 100%;
	z-index: 999999999;
}

#login > .app,
#channelVideoUpload > .app {
	overflow-y: auto;
}

.invert {
    filter: invert(100%);
}