:root {
	--community-basic-thumb-height: 80px;
	--community-basic-thumb-image-width: 80px;
	
	--community-basic-thumb-header-height: 20px;
	
	--community-basic-thumb-profile-size: 60px;
}

ul {
   list-style:none;
   padding-left:0px;
}

.community_basic_thumb {
	position: relative;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);

	min-width: 400px;
	max-width: 750px;
	height: var(--community-basic-thumb-height);
	
	border: 0; padding: 0; margin: 0;
	border-spacing: 0px;
}

.community_basic_thumb .user_profile_img_wapper {
	height: var(--community-basic-thumb-profile-size); 
	width: var(--community-basic-thumb-profile-size);
}

.commnutiy_basic_thumb__image {
	height: var(--community-basic-thumb-height);
	width: var(--community-basic-thumb-image-width);
	
	box-shadow: inset 2px 0 5px rgba(25, 25, 25, 0.25);
	background: #4fc08d;
}

.community_basic_thumb .community_basic_thumb__content_wapper {
	width: calc(100% - var(--community-basic-thumb-image-width) - var(--community-basic-thumb-profile-size));
	height: var(--community-basic-thumb-height);
}

.community_basic_thumb__title {
	height: var(--community-basic-thumb-header-height);
}

.community_basic_thumb__content {
	height: calc(100% - var(--community-basic-thumb-header-height));
}

.community_basic_thumb__background_image {
	height: var(--community-basic-thumb-height);
}