
.ck-editor__main {
	border: none;
}

.editor_title {
	margin-bottom: 0.5em;
}

.editor_title, .editor_title > tbody, .editor_title tr {
	position:relation;
	display: flex;
	align-items: center;
    justify-content: center;
	width: 100%;
}

.editor_title_latter {
	padding: 0 1em 0 2em;
}
.editor_setting_latter {
	padding: 0 1em 0 1em;
}

.editor_title_input {
	width: 50%;
	padding: 0 2em 0 0;
}

.editor_setting_input {
	width: 25%;
	padding: 0 2em 0 0;
}

.ck-editor__editable {
    min-height: 500px;
    max-height: 500px;
}

.btn {
	width : 120px;
}